body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333333;
    flex-direction: column;
}

h1{
    font-size: 5em;
    font-family: fantasy;
    color: lawngreen;
}

button{
    padding: 10px 3em;
    font-size: 2em;
    font-family: sans-serif;
    font-family: 'Courier New', Courier, monospace;
    background-color: khaki;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px #333;
    cursor: pointer;
    transition: all 0.5s;
    margin-bottom: 1rem;
}

button:hover{
    background-color: #222222;
    color:#ff711f ;
}